Repository eclipse-langium/langium, pull requests merged in 2021-11, with the labels that each got.

#274 Added linking phase, use LinkingError in validation
  .gitpod.yml
  .vscode/extensions.json
  packages/langium/src/documents/document-builder.ts
  packages/langium/src/documents/document.ts
  packages/langium/src/grammar/grammar-util.ts
  packages/langium/src/index/ast-descriptions.ts
  packages/langium/src/index/ast-node-locator.ts
  packages/langium/src/index/index-manager.ts
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/references/linker.ts
  packages/langium/src/references/scope.ts
  packages/langium/src/serializer/json-serializer.ts
  packages/langium/src/syntax-tree.ts
  packages/langium/src/utils/ast-util.ts
  packages/langium/src/validation/document-validator.ts
  packages/langium/src/validation/validation-registry.ts
Labels: linking

#276 Allow digits and uppercase letters in file extensions
  packages/generator-langium/src/index.ts
Labels: yeoman

#275 Store LSP range on CST nodes
  examples/arithmetics/src/cli/interpreter.ts
  examples/domainmodel/langium-config.json
  packages/langium/src/documents/document.ts
  packages/langium/src/index/ast-descriptions.ts
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/lsp/completion/rule-interpreter.ts
  packages/langium/src/lsp/document-highlighter.ts
  packages/langium/src/lsp/document-symbol-provider.ts
  packages/langium/src/lsp/folding-range-provider.ts
  packages/langium/src/lsp/goto.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/lsp/reference-finder.ts
  packages/langium/src/lsp/rename-refactoring.ts
  packages/langium/src/parser/cst-node-builder.ts
  packages/langium/src/parser/langium-parser.ts
  packages/langium/src/syntax-tree.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/cst-util.ts
  packages/langium/src/validation/document-validator.ts
Labels: polish

#278 Implement change affection computation #237
  packages/langium/src/documents/document-builder.ts
  packages/langium/src/documents/document.ts
  packages/langium/src/index/index-manager.ts
  packages/langium/test/grammar/grammar-util.test.ts
Labels: index

#271 Listen to LSP connection file changes
  examples/arithmetics/src/extension.ts
  examples/domainmodel/src/extension.ts
  examples/statemachine/src/extension.ts
  packages/generator-langium/langium-template/src/extension.ts
  packages/generator-langium/src/index.ts
  packages/langium-vscode/src/extension.ts
  packages/langium/src/documents/document-builder.ts
  packages/langium/src/index/index-manager.ts
  packages/langium/src/lsp/language-server.ts
Labels: documents, LSP

#291 Optimize container lookups in parser
  packages/langium/src/parser/langium-parser.ts
Labels: parser

#289 Extract string patterns for textmate grammar
  examples/domainmodel/syntaxes/domain-model.tmLanguage.json
  examples/statemachine/syntaxes/statemachine.tmLanguage.json
  packages/langium-cli/src/generator/textmate-generator.ts
  packages/langium/src/utils/regex-util.ts
  packages/langium/test/utils/regex-util.test.ts
Labels: cli, textmate

#293 Correctly escape keywords for textmate and remove symbols
  examples/arithmetics/syntaxes/arithmetics.tmLanguage.json
  examples/domainmodel/syntaxes/domain-model.tmLanguage.json
  examples/statemachine/syntaxes/statemachine.tmLanguage.json
  packages/langium-cli/src/generator/textmate-generator.ts
  packages/langium/src/utils/regex-util.ts
Labels: textmate

#288 Refactor terminal definitions
  examples/arithmetics/src/language-server/arithmetics.langium
  examples/arithmetics/src/language-server/generated/ast.ts
  examples/arithmetics/src/language-server/generated/grammar.ts
  examples/arithmetics/src/language-server/generated/module.ts
  examples/domainmodel/src/language-server/domain-model.langium
  examples/domainmodel/src/language-server/generated/ast.ts
  examples/domainmodel/src/language-server/generated/grammar.ts
  examples/domainmodel/src/language-server/generated/module.ts
  examples/statemachine/src/language-server/generated/ast.ts
  examples/statemachine/src/language-server/generated/grammar.ts
  examples/statemachine/src/language-server/generated/module.ts
  examples/statemachine/src/language-server/statemachine.langium
  packages/generator-langium/langium-template/src/language-server/language-id.langium
  packages/langium-cli/src/generator/textmate-generator.ts
  packages/langium-vscode/data/langium.tmLanguage.json
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/generated/module.ts
  packages/langium/src/grammar/grammar-config.ts
  packages/langium/src/grammar/grammar-util.ts
  packages/langium/src/grammar/langium-grammar-code-actions.ts
  packages/langium/src/grammar/langium-grammar-validator.ts
  packages/langium/src/grammar/langium-grammar.langium
  packages/langium/src/lsp/completion/rule-interpreter.ts
  packages/langium/src/parser/token-builder.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/test/grammar/grammar-util.test.ts
Labels: grammar
