Repository eclipse-langium/langium, pull requests merged in 2022-09, with the labels that each got.

#668 Split find declaration method for AST and CST
  packages/langium/src/default-module.ts
  packages/langium/src/grammar/langium-grammar-module.ts
  packages/langium/src/grammar/lsp/grammar-goto.ts
  packages/langium/src/grammar/references/grammar-references.ts
  packages/langium/src/lsp/definition-provider.ts
  packages/langium/src/lsp/document-highlight-provider.ts
  packages/langium/src/lsp/hover-provider.ts
  packages/langium/src/lsp/implementation-provider.ts
  packages/langium/src/lsp/index.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/lsp/references-provider.ts
  packages/langium/src/lsp/rename-provider.ts
  packages/langium/src/lsp/signature-help-provider.ts
  packages/langium/src/lsp/type-provider.ts
  packages/langium/src/references/references.ts
  packages/langium/src/services.ts
  packages/langium/src/syntax-tree.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/ast-util.ts
  packages/langium/src/utils/collections.ts
  packages/langium/test/workspace/configuration.test.ts
Labels: polish, LSP

#623 Completion service refactoring
  packages/langium/src/default-module.ts
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/lsp/completion/follow-element-computation.ts
  packages/langium/src/lsp/completion/rule-interpreter.ts
  packages/langium/src/lsp/index.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/parser/completion-parser-builder.ts
  packages/langium/src/parser/langium-parser-builder.ts
  packages/langium/src/parser/langium-parser.ts
  packages/langium/src/parser/parser-builder-base.ts
  packages/langium/src/services.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/stream.ts
  packages/langium/test/lsp/completion-provider.test.ts
  packages/langium/test/lsp/completion/completion-provider.test.ts
  packages/langium/test/lsp/goto-definition.test.ts
  packages/langium/test/utils/stream.test.ts
Labels: completion

#643 Implement CallHierarchy LSP service
  packages/langium/src/grammar/langium-grammar-module.ts
  packages/langium/src/grammar/lsp/grammar-call-hierarchy.ts
  packages/langium/src/grammar/lsp/grammar-definition.ts
  packages/langium/src/lsp/call-hierarchy-provider.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/services.ts
Labels: LSP

#672 Remove grammar imports on rule embedding
  packages/langium-cli/src/generate.ts
Labels: cli

#675 Update language-server and testing libraries
  .github/workflows/actions.yml
  examples/arithmetics/package.json
  examples/domainmodel/package.json
  examples/statemachine/package.json
  package-lock.json
  package.json
  packages/generator-langium/langium-template/package.json
  packages/langium-cli/test/generator/module-generator.test.ts
  packages/langium-vscode/package.json
  packages/langium/package.json
  packages/langium/src/workspace/workspace-manager.ts
Labels: dependencies

#687 Enable debugging Langium as downstream user
  .vscode/launch.json
  CONTRIBUTING.md
  packages/generator-langium/langium-template/.vscode/launch.json
Labels: polish, yeoman

#694 Copy all grammar elements for multi-dsl projects
  packages/langium-cli/src/generate.ts
Labels: cli

#686 Remove hard dependency on jest for testing
  examples/domainmodel/src/cli/cli.ts
  examples/domainmodel/src/cli/generator.ts
  examples/domainmodel/test/domainmodel-cli.test.ts
  examples/domainmodel/test/formatting.test.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/test/fixture.ts
  packages/langium/test/lsp/completion-provider.test.ts
  packages/langium/test/lsp/document-symbol.test.ts
  packages/langium/test/lsp/folding-range.test.ts
  packages/langium/test/lsp/goto-definition.test.ts
  packages/langium/test/lsp/hover.test.ts
  tsconfig.json
Labels: test

#691 Semantic token provider API improvements
  packages/langium/src/grammar/lsp/grammar-semantic-tokens.ts
  packages/langium/src/lsp/semantic-token-provider.ts
  packages/langium/src/utils/grammar-util.ts
Labels: polish, LSP

#685 Prevent unused token creation
  packages/langium-cli/src/generator/highlighting/monarch-generator.ts
  packages/langium-cli/src/generator/util.ts
  packages/langium/src/grammar/internal-grammar-util.ts
  packages/langium/src/grammar/langium-grammar-validator.ts
  packages/langium/src/parser/parser-builder-base.ts
  packages/langium/src/parser/token-builder.ts
  packages/langium/src/utils/grammar-util.ts
  packages/langium/src/utils/regex-util.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
  packages/langium/test/parser/token-builder.test.ts
Labels: parser

#676 Multi-language example
  .vscode/launch.json
  examples/requirements/.vscodeignore
  examples/requirements/README.md
  examples/requirements/bin/cli
  examples/requirements/example/requirements.req
  examples/requirements/example/tests_part1.tst
  examples/requirements/example/tests_part2.tst
  examples/requirements/langium-config.json
  examples/requirements/language-configuration.json
  examples/requirements/package.json
  examples/requirements/src/cli/cli-util.ts
  examples/requirements/src/cli/generator.ts
  examples/requirements/src/cli/index.ts
  examples/requirements/src/extension.ts
  examples/requirements/src/language-server/common.langium
  examples/requirements/src/language-server/generated/ast.ts
  examples/requirements/src/language-server/generated/grammar.ts
  examples/requirements/src/language-server/generated/module.ts
  examples/requirements/src/language-server/main.ts
  examples/requirements/src/language-server/requirements-and-tests-lang-module.ts
  examples/requirements/src/language-server/requirements-lang-module.ts
  examples/requirements/src/language-server/requirements-lang-validator.ts
  examples/requirements/src/language-server/requirements.langium
  examples/requirements/src/language-server/tests-lang-module.ts
  examples/requirements/src/language-server/tests-lang-validator.ts
  examples/requirements/src/language-server/tests.langium
  examples/requirements/syntaxes/requirements.tmLanguage.json
  examples/requirements/syntaxes/tests.tmLanguage.json
  examples/requirements/test/files/bad1/requirements.req
  examples/requirements/test/files/bad1/tests_part1.tst
  examples/requirements/test/files/bad1/tests_part2.tst
  examples/requirements/test/files/bad2/requirements.req
  examples/requirements/test/files/bad2/tests_part1.tst
  examples/requirements/test/files/bad2/tests_part2.tst
  examples/requirements/test/files/good/requirements.req
  examples/requirements/test/files/good/tests_part1.tst
  examples/requirements/test/files/good/tests_part2.tst
  examples/requirements/test/generator.test.ts
  examples/requirements/test/validator.test.ts
  examples/requirements/tsconfig.json
  package-lock.json
  package.json
  tsconfig.build.json
Labels: examples
