Repository eclipse-langium/langium, pull requests merged in 2022-11, with the labels that each got.

#738 Improve validation check type safety
  examples/arithmetics/src/language-server/generated/ast.ts
  examples/domainmodel/src/language-server/generated/ast.ts
  examples/requirements/src/language-server/generated/ast.ts
  examples/statemachine/src/language-server/generated/ast.ts
  packages/langium-cli/src/generator/ast-generator.ts
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/syntax-tree.ts
  packages/langium/src/validation/validation-registry.ts
Labels: polish, validation

#734 Go to declaration service
  packages/langium/src/lsp/declaration-provider.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/services.ts
Labels: LSP

#784 Resolve dev-time vulnerability
  .gitpod.yml
  package-lock.json
  package.json
Labels: dependencies, repo
