Repository eclipse-langium/langium, pull requests merged in 2022-08, with the labels that each got.

#618 Implemented go to type service
  packages/langium/src/lsp/goto-type.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/services.ts
Labels: LSP

#612 Implemented SignatureHelp LSP service
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/lsp/signature-help-provider.ts
  packages/langium/src/services.ts
  packages/langium/test/lsp/signatureHelpProvider.test.ts
Labels: LSP

#626 Support formatting testing
  examples/domainmodel/test/formatting.test.ts
  packages/langium/src/test/langium-test.ts
Labels: LSP, test

#628 Extend validation options
  packages/langium/src/syntax-tree.ts
  packages/langium/src/validation/document-validator.ts
  packages/langium/src/validation/validation-registry.ts
Labels: polish, validation

#633 Fix unused terminal issue
  packages/langium/src/grammar/langium-grammar-validator.ts
  packages/langium/test/validation/grammar-validation.test.ts
Labels: validation, grammar

#610 Various improvements to CST behavior
  packages/langium/src/grammar/grammar-config.ts
  packages/langium/src/grammar/references/grammar-references.ts
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/lsp/document-highlighter.ts
  packages/langium/src/lsp/goto.ts
  packages/langium/src/lsp/hover-provider.ts
  packages/langium/src/lsp/reference-finder.ts
  packages/langium/src/lsp/rename-refactoring.ts
  packages/langium/src/lsp/signature-help-provider.ts
  packages/langium/src/parser/cst-node-builder.ts
  packages/langium/src/parser/langium-parser.ts
  packages/langium/src/references/references.ts
  packages/langium/src/syntax-tree.ts
  packages/langium/src/utils/cst-util.ts
  packages/langium/test/lsp/go-to/goto-definition.test.ts
  packages/langium/test/lsp/hover.test.ts
Labels: polish, LSP

#639 Fix terminal regex builder
  packages/langium/src/grammar/grammar-util.ts
  packages/langium/test/grammar/grammar-util.test.ts
Labels: grammar

#627 Added go to implementation service
  packages/langium/src/lsp/goto-implementation.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/services.ts
Labels: LSP

#656 Run GitHub Actions on all pull requests
  .github/workflows/actions.yml
Labels: build
