Repository eclipse-langium/langium, pull requests merged in 2022-12, with the labels that each got.

#754 langium-cli to generate types definition
  package-lock.json
  packages/langium-cli/package.json
  packages/langium-cli/src/generate.ts
  packages/langium-cli/src/generator/types-generator.ts
  packages/langium-cli/src/generator/util.ts
  packages/langium-cli/src/langium.ts
  packages/langium-cli/test/generator/types-generator.test.ts
  packages/langium-vscode/package.json
Labels: cli, extension

#787 Use document paths for json serializer references
  examples/arithmetics/src/language-server/generated/grammar.ts
  examples/domainmodel/src/language-server/generated/grammar.ts
  examples/domainmodel/test/nodelocator.test.ts
  examples/requirements/src/language-server/generated/grammar.ts
  examples/statemachine/src/language-server/generated/grammar.ts
  packages/langium-cli/src/generate.ts
  packages/langium-cli/src/generator/grammar-serializer.ts
  packages/langium-cli/src/parser-validation.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/internal-grammar-util.ts
  packages/langium/src/grammar/references/grammar-references.ts
  packages/langium/src/grammar/references/grammar-scope.ts
  packages/langium/src/grammar/type-system/types-util.ts
  packages/langium/src/references/linker.ts
  packages/langium/src/serializer/json-serializer.ts
  packages/langium/src/utils/ast-util.ts
  packages/langium/src/utils/grammar-util.ts
  packages/langium/src/workspace/ast-node-locator.ts
  packages/langium/src/workspace/index-manager.ts
  packages/langium/test/grammar/langium-grammar-validator.test.ts
  packages/langium/test/lsp/completion-provider.test.ts
  packages/langium/test/lsp/execute-command-handler.test.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
  packages/langium/test/parser/lexer.test.ts
  packages/langium/test/validation/document-validator.test.ts
  packages/langium/test/workspace/ast-node-locator.test.ts
Labels: polish

#820 Prevent keyword/terminal name clashing
  packages/langium/src/grammar/internal-grammar-util.ts
  packages/langium/src/grammar/langium-grammar-validator.ts
  packages/langium/test/grammar/langium-grammar-validator.test.ts
Labels: validation, grammar

#826 Adds validation to ensure cross-ref and other types are not mixed
  packages/langium/src/grammar/validation/types-validator.ts
  packages/langium/src/grammar/validation/validator.ts
  packages/langium/test/grammar/langium-grammar-validator.test.ts
  packages/langium/test/grammar/type-system/type-validator.test.ts
Labels: validation, grammar

#739 Improve completion API and functionality
  packages/langium-cli/src/generator/module-generator.ts
  packages/langium/langium-config.json
  packages/langium/src/grammar/generated/module.ts
  packages/langium/src/lsp/completion/completion-provider.ts
Labels: polish, completion

#822 Include references of super types
  packages/langium-cli/src/generator/ast-generator.ts
  packages/langium/src/grammar/ast-reflection-interpreter.ts
  packages/langium/src/utils/collections.ts
  packages/langium/test/grammar/ast-reflection-interpreter.test.ts
Labels: cli

#833 Sort diagnostics found in grammar
  packages/langium-cli/src/generate.ts
Labels: cli

#837 Respect inheritance for actions and unassigned rulecalls
  packages/langium/src/grammar/type-system/type-collector/inferred-types.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
Labels: types

#846 Add webworker to arithmetics and domainmodel example
  examples/arithmetics/langium-config.json
  examples/arithmetics/src/language-server/main-browser.ts
  examples/arithmetics/syntaxes/arithmetics.monarch.ts
  examples/arithmetics/tsconfig.json
  examples/domainmodel/langium-config.json
  examples/domainmodel/src/language-server/main-browser.ts
  examples/domainmodel/syntaxes/domainmodel.monarch.ts
  examples/domainmodel/tsconfig.json
  examples/requirements/src/language-server/requirements-lang-module.ts
Labels: examples

#848 [examples] Added notifications with AST contents on document change
  examples/arithmetics/src/language-server/main-browser.ts
  examples/domainmodel/src/language-server/main-browser.ts
  examples/statemachine/src/language-server/main-browser.ts
  packages/langium/src/workspace/document-builder.ts
Labels: examples

#850 Correctly sort types topologically
  examples/arithmetics/src/language-server/generated/ast.ts
  examples/arithmetics/src/language-server/generated/grammar.ts
  examples/arithmetics/src/language-server/generated/module.ts
  examples/domainmodel/src/language-server/generated/ast.ts
  examples/domainmodel/src/language-server/generated/grammar.ts
  examples/domainmodel/src/language-server/generated/module.ts
  examples/requirements/src/language-server/generated/ast.ts
  examples/requirements/src/language-server/generated/grammar.ts
  examples/requirements/src/language-server/generated/module.ts
  examples/statemachine/src/language-server/generated/ast.ts
  examples/statemachine/src/language-server/generated/grammar.ts
  examples/statemachine/src/language-server/generated/module.ts
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/generated/module.ts
  packages/langium/src/grammar/type-system/ast-collector.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
Labels: types
