Repository eclipse-langium/langium, pull requests merged in 2022-03, with the labels that each got.

#428 Prevent creation of empty composite CST nodes
  packages/langium/src/parser/cst-node-builder.ts
Labels: parser

#436 Prevent rules from returning type aliases
  packages/langium/src/grammar/langium-grammar-validator.ts
  packages/langium/src/validation/document-validator.ts
Labels: validation, types

#439 Support for backticks in grammars
  packages/langium-cli/src/generator/grammar-serializer.ts
Labels: cli

#438 Add grammar support for `infer`
  examples/arithmetics/src/language-server/arithmetics.langium
  examples/arithmetics/src/language-server/generated/grammar.ts
  examples/domainmodel/src/language-server/generated/grammar.ts
  packages/langium-vscode/data/langium.tmLanguage.json
  packages/langium/CHANGELOG.md
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/langium-grammar-code-actions.ts
  packages/langium/src/grammar/langium-grammar-validator.ts
  packages/langium/src/grammar/langium-grammar.langium
Labels: grammar

#443 Optional semicolon for imports
  examples/domainmodel/src/language-server/generated/grammar.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/langium-grammar.langium
Labels: grammar
