Repository eclipse-langium/langium, pull requests merged in 2023-07, with the labels that each got.

#1100 Support workspace symbols
  packages/langium/src/default-module.ts
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/lsp/document-symbol-provider.ts
  packages/langium/src/lsp/fuzzy-matcher.ts
  packages/langium/src/lsp/index.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/lsp/node-kind-provider.ts
  packages/langium/src/lsp/workspace-symbol-provider.ts
  packages/langium/src/services.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/test/lsp/fuzzy-matcher.test.ts
  packages/langium/test/lsp/workspace-symbol.test.ts
Labels: LSP

#1107 Move shared LSP services to language services
  packages/langium/src/lsp/code-lens-provider.ts
  packages/langium/src/lsp/document-link-provider.ts
  packages/langium/src/lsp/inlay-hint-provider.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/services.ts
Labels: LSP

#1105 Fix generated directory paths in cli
  packages/langium-cli/src/generate.ts
Labels: cli

#1108 Add parser error message provider service
  packages/langium/src/default-module.ts
  packages/langium/src/parser/langium-parser.ts
  packages/langium/src/services.ts
Labels: parser

#1094 Refactored document builder and affected analysis
  examples/arithmetics/src/cli/cli-util.ts
  examples/domainmodel/src/cli/cli-util.ts
  examples/domainmodel/src/language-server/domain-model-naming.ts
  examples/domainmodel/src/language-server/domain-model-scope.ts
  examples/requirements/src/cli/cli-util.ts
  examples/statemachine/src/cli/cli-util.ts
  packages/langium-cli/src/generate.ts
  packages/langium/src/references/linker.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/grammar-util.ts
  packages/langium/src/validation/document-validator.ts
  packages/langium/src/validation/validation-registry.ts
  packages/langium/src/workspace/document-builder.ts
  packages/langium/src/workspace/documents.ts
  packages/langium/src/workspace/index-manager.ts
  packages/langium/src/workspace/workspace-manager.ts
  packages/langium/test/workspace/ast-node-locator.test.ts
  packages/langium/test/workspace/document-builder.test.ts
  packages/langium/test/workspace/document-validator.test.ts
  packages/langium/test/workspace/validation-registry.test.ts
Labels: documents

#1111 feat!: expose language metadata as const
  examples/arithmetics/src/cli/cli-util.ts
  examples/arithmetics/src/language-server/generated/module.ts
  examples/domainmodel/src/cli/cli-util.ts
  examples/domainmodel/src/language-server/generated/module.ts
  examples/requirements/src/language-server/generated/module.ts
  examples/statemachine/src/cli/cli-util.ts
  examples/statemachine/src/language-server/generated/module.ts
  packages/langium-cli/src/generator/module-generator.ts
  packages/langium/src/grammar/generated/module.ts
  packages/langium/src/grammar/language-meta-data.ts
Labels: cli

#1114 Use source maps for all debug configs
  .vscode/launch.json
  packages/generator-langium/templates/vscode/.vscode/launch.json
Labels: yeoman, repo

#1121 Improve global scoping mechanism
  examples/arithmetics/src/language-server/arithmetics-scope-provider.ts
  examples/domainmodel/package.json
  examples/domainmodel/src/benchmark/generate.ts
  examples/domainmodel/src/benchmark/run.ts
  packages/langium/src/grammar/references/grammar-scope.ts
  packages/langium/src/references/index.ts
  packages/langium/src/references/scope-provider.ts
  packages/langium/src/references/scope.ts
  packages/langium/src/workspace/index-manager.ts
  packages/langium/test/grammar/references/grammar-scope.test.ts
Labels: scoping, index
