Repository eclipse-langium/langium, pull requests merged in 2023-02, with the labels that each got.

#898 Fix array assignment in fragment rules
  packages/langium/src/parser/langium-parser.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
Labels: parser

#910 Improve root build & watch scripts
  .gitpod.yml
  package-lock.json
  package.json
  packages/langium-vscode/esbuild.js
Labels: repo

#911 Simplify yeoman generator
  package-lock.json
  packages/generator-langium/package.json
  packages/generator-langium/src/index.ts
  packages/generator-langium/test/yeoman-generator.test.ts
Labels: polish, yeoman

#907 Simplify property check for validation testing
  packages/langium/src/test/langium-test.ts
  packages/langium/test/grammar/langium-grammar-validator.test.ts
  packages/langium/test/grammar/type-system/type-validator.test.ts
Labels: polish, validation, test

#903 Remove error results for missing LSP providers
  packages/langium/src/lsp/language-server.ts
Labels: polish, LSP

#916 Fix incorrect yeoman vscode-engines version
  examples/arithmetics/package.json
  examples/domainmodel/package.json
  examples/requirements/package.json
  examples/statemachine/package.json
  package-lock.json
  packages/generator-langium/langium-template/package.json
  packages/generator-langium/package.json
  packages/generator-langium/test/yeoman-generator.test.ts
  packages/langium-cli/package.json
  packages/langium-vscode/package.json
Labels: yeoman

#908 Improve CLI watch support
  examples/arithmetics/syntaxes/arithmetics.tmLanguage.json
  examples/domainmodel/syntaxes/domain-model.tmLanguage.json
  examples/statemachine/syntaxes/statemachine.tmLanguage.json
  packages/langium-cli/src/generate.ts
  packages/langium-cli/src/generator/highlighting/textmate-generator.ts
  packages/langium-cli/src/langium.ts
  packages/langium-cli/src/package.ts
  packages/langium/src/grammar/type-system/type-collector/all-types.ts
Labels: cli

#845 Internal type split
  examples/arithmetics/src/language-server/generated/ast.ts
  examples/arithmetics/src/language-server/generated/grammar.ts
  examples/arithmetics/syntaxes/arithmetics.monarch.ts
  examples/domainmodel/syntaxes/domainmodel.monarch.ts
  examples/statemachine/syntaxes/statemachine.monarch.ts
  packages/langium-cli/src/generator/ast-generator.ts
  packages/langium-cli/src/generator/util.ts
  packages/langium/src/grammar/ast-reflection-interpreter.ts
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/internal-grammar-util.ts
  packages/langium/src/grammar/langium-grammar.langium
  packages/langium/src/grammar/lsp/grammar-semantic-tokens.ts
  packages/langium/src/grammar/type-system/ast-collector.ts
  packages/langium/src/grammar/type-system/type-collector/all-types.ts
  packages/langium/src/grammar/type-system/type-collector/declared-types.ts
  packages/langium/src/grammar/type-system/type-collector/inferred-types.ts
  packages/langium/src/grammar/type-system/type-collector/plain-types.ts
  packages/langium/src/grammar/type-system/type-collector/types.ts
  packages/langium/src/grammar/type-system/types-util.ts
  packages/langium/src/grammar/validation/types-validator.ts
  packages/langium/src/grammar/validation/validation-resources-collector.ts
  packages/langium/src/grammar/validation/validator.ts
  packages/langium/src/grammar/workspace/documents.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/grammar-util.ts
  packages/langium/test/grammar/ast-reflection-interpreter.test.ts
  packages/langium/test/grammar/langium-grammar-validator.test.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
  packages/langium/test/grammar/type-system/type-validator.test.ts
  packages/langium/test/lsp/find-references.test.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
Labels: validation, types

#906 Add support for inlay hint providers
  packages/langium/src/lsp/index.ts
  packages/langium/src/lsp/inlay-hint-provider.ts
  packages/langium/src/lsp/language-server.ts
  packages/langium/src/lsp/semantic-token-provider.ts
  packages/langium/src/services.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/ast-util.ts
  packages/langium/src/utils/cst-util.ts
  packages/langium/test/utils/ast-util.test.ts
Labels: LSP

#917 Support terminal lookahead
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/internal-grammar-util.ts
  packages/langium/src/grammar/langium-grammar.langium
  packages/langium/test/grammar/grammar-util.test.ts
Labels: grammar

#935 Allow completion providers to override options
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/lsp/language-server.ts
Labels: LSP

#928 yeoman - Create tasks.json to generate grammar files
  packages/generator-langium/langium-template/.vscode/tasks.json
  packages/generator-langium/test/yeoman-generator.test.ts
Labels: yeoman
