Repository eclipse-langium/langium, pull requests merged in 2023-09, with the labels that each got.

#1153 Prevent file names collisions during tests
  packages/langium/src/test/langium-test.ts
  packages/langium/src/utils/caching.ts
  packages/langium/src/utils/disposable.ts
  packages/langium/src/utils/index.ts
  packages/langium/test/grammar/references/grammar-scope.test.ts
  packages/langium/test/utils/disposable.test.ts
Labels: test

#1190 Emit `onUpdate` event on `DocumentBuilder#build`
  packages/langium/src/workspace/document-builder.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
  packages/langium/test/workspace/document-builder.test.ts
Labels: scoping

#1185 Add declared types formatter
  packages/langium/src/generator/template-string.ts
  packages/langium/src/grammar/lsp/grammar-formatter.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/test/grammar/lsp/grammar-formatter.test.ts
  packages/langium/test/grammar/lsp/grammar-semantic-token-provider.test.ts
Labels: grammar, LSP

#1204 feat: make keyword filtering in completion provider configurable
  packages/langium/src/lsp/completion/completion-provider.ts
Labels: completion

#1210 Adapt links and readme for Eclipse Foundation
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package-lock.json
  packages/generator-langium/CHANGELOG.md
  packages/langium-cli/CHANGELOG.md
  packages/langium-railroad/CHANGELOG.md
  packages/langium-vscode/CHANGELOG.md
  packages/langium-vscode/README.md
  packages/langium-vscode/src/extension.ts
  packages/langium/CHANGELOG.md
  packages/langium/README.md
  packages/langium/test/grammar/type-system/inferred-types.test.ts
  packages/langium/test/grammar/type-system/type-validator.test.ts
  packages/langium/test/validation/document-validator.test.ts
Labels: repo
