Repository eclipse-langium/langium, pull requests merged in 2023-04, with the labels that each got.

#1002 Improvements to `expectSymbols`, `expectFoldings`, and `expectCompletion` test functions
  packages/langium/src/test/langium-test.ts
Labels: test

#1003 Generate `isType` function for primitive datatype rules
  examples/domainmodel/src/language-server/generated/ast.ts
  packages/langium-cli/test/generator/ast-generator.test.ts
  packages/langium/src/grammar/generated/ast.ts
  packages/langium/src/grammar/type-system/type-collector/inferred-types.ts
  packages/langium/src/grammar/type-system/type-collector/plain-types.ts
  packages/langium/src/grammar/type-system/type-collector/types.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
Labels: ast, types

#1005 Normalize line endings for yeoman generator
  packages/generator-langium/src/index.ts
Labels: yeoman

#1000 Fix document highlighting for non-local references
  packages/langium/CHANGELOG.md
  packages/langium/src/grammar/references/grammar-references.ts
  packages/langium/src/lsp/call-hierarchy-provider.ts
  packages/langium/src/lsp/document-highlight-provider.ts
  packages/langium/src/references/references.ts
  packages/langium/src/test/langium-test.ts
  packages/langium/test/lsp/document-highlight.test.ts
Labels: LSP

#1014 Replicated signature overloads to 'StreamImpl'
  packages/langium/src/utils/stream.ts
  packages/langium/test/utils/stream.test.ts
Labels: bug, polish

#1024 Add IPA for 'Langium'
  README.md
Labels: repo

#1004 Improve completion behavior for cross references
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/test/lsp/completion-provider.test.ts
Labels: completion
