Repository eclipse-langium/langium, pull requests merged in 2024-06, with the labels that each got.

#1525 Fix range comparison
  packages/langium/src/utils/cst-utils.ts
  packages/langium/test/utils/cst-utils.test.ts
Labels: polish

#1516 Show documentation on completion item
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/test/lsp/completion-provider.test.ts
Labels: completion, LSP

#1530 Update documentation links
  README.md
  packages/generator-langium/README.md
  packages/langium/src/dependency-injection.ts
  packages/langium/test/dependency-injection.test.ts
Labels: documentation

#1514 Escape `${` in template string
  packages/langium-cli/src/generator/grammar-serializer.ts
  packages/langium-cli/test/generator/grammar-serializer.test.ts
Labels: cli

#1478 Respect declared type of data type rules
  packages/langium/src/grammar/type-system/type-collector/types.ts
  packages/langium/test/grammar/type-system/type-validator.test.ts
  packages/langium/test/parser/worker-thread-async-parser.test.ts
Labels: validation, types

#1545 Improve idempotency of stream operations
  packages/langium/src/utils/stream.ts
  packages/langium/test/dependency-injection.test.ts
  packages/langium/test/utils/stream.test.ts
Labels: polish

#1541 Infer mixed type with action and rule call
  packages/langium/src/grammar/type-system/type-collector/inferred-types.ts
  packages/langium/src/grammar/type-system/types-util.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
Labels: types

#1547 Fix CST related parser issues
  packages/langium/src/parser/cst-node-builder.ts
  packages/langium/src/parser/langium-parser.ts
  packages/langium/src/utils/grammar-utils.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
Labels: polish, parser

#1550 Fix cyclic formatter behavior
  packages/langium/src/lsp/formatter.ts
Labels: polish, LSP

#1552 Fix data type rule type computation
  packages/langium/src/parser/langium-parser.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
Labels: parser

#1559 Fix false positive multiplicity validation
  package-lock.json
  packages/generator-langium/templates/core/.package.json
  packages/langium-vscode/package.json
  packages/langium/package.json
  packages/langium/src/grammar/validation/validator.ts
  packages/langium/test/grammar/grammar-validator.test.ts
Labels: validation, grammar
