Repository eclipse-langium/langium, pull requests merged in 2024-08, with the labels that each got.

#1628 Fix formatter
  packages/langium/src/lsp/formatter.ts
  packages/langium/test/grammar/lsp/grammar-formatter.test.ts
Labels: LSP

#1604 Alignment of Default Class Implementations to Interface definitions
  packages/langium/src/lsp/completion/completion-provider.ts
  packages/langium/src/lsp/definition-provider.ts
  packages/langium/src/lsp/document-highlight-provider.ts
  packages/langium/src/lsp/document-symbol-provider.ts
  packages/langium/src/lsp/document-update-handler.ts
  packages/langium/src/lsp/folding-range-provider.ts
  packages/langium/src/lsp/references-provider.ts
  packages/langium/src/lsp/rename-provider.ts
  packages/langium/src/lsp/workspace-symbol-provider.ts
  packages/langium/src/parser/async-parser.ts
  packages/langium/src/references/linker.ts
  packages/langium/src/serializer/json-serializer.ts
  packages/langium/src/workspace/ast-descriptions.ts
  packages/langium/src/workspace/workspace-lock.ts
  packages/langium/src/workspace/workspace-manager.ts
Labels: polish, LSP

#1608 Support ignoring indentation within delimiters
  packages/langium/src/parser/indentation-aware.ts
  packages/langium/test/parser/indentation-aware.test.ts
Labels: parser

#1634 Make Langium language server more robust
  packages/langium/src/grammar/type-system/type-collector/all-types.ts
  packages/langium/src/grammar/type-system/type-collector/inferred-types.ts
  packages/langium/src/grammar/validation/validation-resources-collector.ts
  packages/langium/test/grammar/grammar-validator.test.ts
Labels: polish, grammar

#1643 Add `sideEffects` flag to library packages
  packages/langium-railroad/package.json
  packages/langium-sprotty/package.json
  packages/langium/package.json
Labels: polish

#1631 Fix false positive on regex flag validation
  packages/langium/src/grammar/validation/validator.ts
  packages/langium/test/grammar/grammar-validator.test.ts
Labels: validation, grammar

#1635 Make service containers readonly
  packages/langium/src/dependency-injection.ts
  packages/langium/src/lsp/default-lsp-module.ts
  packages/langium/src/lsp/lsp-services.ts
  packages/langium/src/services.ts
  packages/langium/test/dependency-injection.test.ts
Labels: polish
