Repository eclipse-langium/langium, pull requests merged in 2024-01, with the labels that each got.

#1330 Improvements in IndexManager
  packages/langium/src/workspace/document-builder.ts
  packages/langium/src/workspace/index-manager.ts
Labels: index

#1345 Add trailing semicolon in generated ast interfaces
  examples/arithmetics/src/language-server/generated/ast.ts
  examples/domainmodel/src/language-server/generated/ast.ts
  examples/requirements/src/language-server/generated/ast.ts
  examples/statemachine/src/language-server/generated/ast.ts
  packages/langium-cli/test/generator/types-generator.test.ts
  packages/langium/src/grammar/type-system/type-collector/types.ts
  packages/langium/src/languages/generated/ast.ts
  packages/langium/test/grammar/type-system/inferred-types.test.ts
Labels: cli, ast

#1343 Allow hidden terminals reference in terminal lookahead
  packages/langium/src/grammar/validation/validator.ts
  packages/langium/test/grammar/grammar-validator.test.ts
Labels: validation, grammar
