Repository eclipse-langium/langium, pull requests merged in 2024-12, with the labels that each got.

#1689 Fix missing group proposal
  packages/langium/src/lsp/completion/follow-element-computation.ts
  packages/langium/test/lsp/completion-provider.test.ts
Labels: completion

#1762 Fix references in fragment rules
  examples/arithmetics/src/language-server/generated/grammar.ts
  examples/domainmodel/src/language-server/generated/grammar.ts
  examples/requirements/src/language-server/generated/grammar.ts
  examples/statemachine/src/language-server/generated/grammar.ts
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/parser/cst-node-builder.ts
  packages/langium/src/parser/langium-parser.ts
  packages/langium/src/parser/parser-builder-base.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
Labels: bug, parser

#1771 langium: follow-up on #972 contributing convenience type defs for cross-ref property distinction
  packages/langium/src/syntax-tree.ts
  packages/langium/test/syntax-tree.test.ts
Labels: bug, ast
