Repository eclipse-langium/langium, pull requests merged in 2024-07, with the labels that each got.

#1563 BugFix: Correct isAstTypeInternal checking logic
  packages/langium/src/grammar/type-system/types-util.ts
  packages/langium/test/grammar/type-system/types-util.test.ts
Labels: types

#1577 Detect cyclic reference resolution
  packages/langium/src/references/linker.ts
  packages/langium/test/references/linker.test.ts
Labels: polish, scoping

#1587 Hotfix: undefined token on indentation-aware empty input
  packages/langium/src/parser/indentation-aware.ts
  packages/langium/test/parser/indentation-aware.test.ts
Labels: parser

#1590 Fix language server in standalone mode
  packages/langium-vscode/src/language-server/grammar-workspace-manager.ts
Labels: extension

#1594 Check that terminal part exists when accessing it
  packages/langium-cli/src/generator/highlighting/monarch-generator.ts
Labels: cli, highlighting

#1589 Detect \n and \t as whitespace
  packages/langium/src/utils/grammar-utils.ts
  packages/langium/src/utils/regexp-utils.ts
Labels: polish
