Repository eclipse-langium/langium, pull requests merged in 2025-04, with the labels that each got.

#1878 Improve case insensitive Regex generation
  examples/arithmetics/syntaxes/arithmetics.tmLanguage.json
  packages/langium-cli/src/generator/highlighting/textmate-generator.ts
  packages/langium/src/parser/token-builder.ts
  packages/langium/src/utils/regexp-utils.ts
  packages/langium/test/parser/token-builder.test.ts
Labels: cli

#1822 Improve chevrotain parser error recovery
  packages/langium/src/grammar/generated/grammar.ts
  packages/langium/src/grammar/langium-grammar.langium
  packages/langium/src/parser/langium-parser.ts
  packages/langium/test/parser/langium-parser-builder.test.ts
  packages/langium/test/parser/langium-parser.test.ts
Labels: parser

#1835 Copy JSDoc comments to generated AST
  examples/statemachine/src/language-server/generated/ast.ts
  examples/statemachine/src/language-server/generated/grammar.ts
  examples/statemachine/src/language-server/statemachine.langium
  packages/langium-cli/src/generator/ast-generator.ts
  packages/langium-cli/src/generator/types-generator.ts
  packages/langium/src/grammar/ast-reflection-interpreter.ts
  packages/langium/src/grammar/type-system/ast-collector.ts
  packages/langium/src/grammar/type-system/type-collector/all-types.ts
  packages/langium/src/grammar/type-system/type-collector/declared-types.ts
  packages/langium/src/grammar/type-system/type-collector/inferred-types.ts
  packages/langium/src/grammar/type-system/type-collector/plain-types.ts
  packages/langium/src/grammar/type-system/type-collector/types.ts
  packages/langium/src/grammar/validation/validation-resources-collector.ts
Labels: cli, ast
